.jumbotron {
  background-color: transparent;
}

#jumbotron-left-column {

}

#jumbotron-right-column img {
  border-radius: 50%;
}

#github {
  text-align: center;
  background-color: pink;
}

#resume {
  text-align: center;
  background-color: pink;
}

#about-me {
  text-align: center;
  background-color: pink;
}

ul {
  list-style-type: none
}
