.jumbotron {
  background-color: transparent;
  text-align: center;
}

#jumbotron-left-column img {
  border-radius: 50%;
}

#github {
  text-align: center;
  border: 1px solid black;
  padding: 12px;
  margin: 4px;
}

#resume {
  text-align: center;
  border: 1px solid black;
  padding: 12px;
  margin: 4px;
}

#about-me {
  text-align: center;
  border: 1px solid black;
  padding: 12px;
  margin: 4px;
}

ul {
  list-style-type: none;
  font-style: italic;
}
