.jumbotron {
  background-color: transparent;
}

#jumbotron-left-column {

}

#jumbotron-right-column img {
  border-radius: 50%;
}

#github {
  text-align: center;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding-top: 2px;
  padding-bottom: 2px;
}

#resume {
  text-align: center;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding-top: 2px;
  padding-bottom: 2px;
}

#about-me {
  text-align: center;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding-top: 2px;
  padding-bottom: 2px;
}

ul {
  list-style-type: none;
  font-style: italic;
}
